################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UniversityPilot-ML/DataInput/Classrooms.csv
/UniversityPilot-ML/DataInput/PreliminaryCoursesSchedule.csv
/UniversityPilot-ML/DataInput/ScheduleGroupsDays.csv
/UniversityPilot-ML/DataOutput/GeneratedSchedule.csv
/UniversityPilot-ML/HistoricalData/planzajec.csv
/UniversityPilot-ML/HistoricalData/przedmioty_z_salami.csv
*.csv
